<p id="notice"><%= notice %></p>

<%= form_for @conversion, url: {action: "create"} do |f| %>

    <div class ="conversion_form">
        <div>
            Starting Currency:
            <%= f.select :starting_currency, @currency_codes, selected: "USD" %>
        </div>

        <div>
            Amount:
            <%= f.number_field(:amount, step: '0.01') %>
        </div>

        <div>
            Final Currency:
            <%= f.select :final_currency, @currency_codes, selected: "CAD" %>
        </div>

        <div>
            <%= f.submit "Convert" %>
        </div>
    </div>

<% end %>

