<div class='content-wrapper'>
    <div class="content">
        <h2>CONVERSION RESULT:</h2>

        <div><%= @conversion.starting_currency %> <%= @conversion.amount %> = <%= @conversion.final_currency %> <%= @conversion.converted_amount %></div>
        <br>
        <div class="field">Would you like to convert another currency?</div>
        <div><%= button_to "Back to conversion calculator", new_conversion_path, :method => "get" %></div>
    </div>
</div>